@charset "utf-8";

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 2;
	width: 100%;
	overflow-x: hidden;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

/*----ここからheader------------------------------------------------------*/

header a {
  text-decoration: none;
  color: #ffffff;
  
  display: block;
}

a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgba(143,167,180,0.7);;
  position: fixed;
  z-index: 9999;
  
}

.logo {
  float: left;
  height: auto;
}

.global-nav {
  float: right;
  font-family: 'DM Serif Text', serif;
}

.global-nav li {
  float: left;
  margin: 10px 20px;
  font-size: 20px;
  list-style-type: none;
}

.global-nav li a:hover {
  color: #0a0;
  border-bottom:1px solid #0a0;
}

.veggi{
	 margin: 0;
   position: absolute;
   left:80px;
   top: 50%;
	line-height:4px;
	font-size:35px;
	font-family:'DM Serif Text', serif;
	letter-spacing:0.1em;
}

h1{
	font-size:50px;
	margin-top:30px;
	letter-spacing:0.3em;
	font-family:'DM serif text',serif;
}

h2{
	font-size:35px;
	letter-spacing:0.2em;
	font-family:'DM serif text',serif;
}
/*-------ここまでhgeader--------------------------------*/





/*＝＝＝＝ここからwrap＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#wrap {
  width: 100%;
  margin:0 auto;
}

#wrap img {
	width: 100%;
	height: 400px;
}

#container{
	width:70%;
	margin:0 auto;
}


/*＝＝＝＝＝ここまでwrap＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/*----------サイドバー-------------------------*/

#relative {
	position: relative;
	z-index: 99; 
}

.red {
	position: absolute;
	top: 250px;
	left: -650px;
	z-index: 9;
	opacity:0.4;
}

.purple {
	position: absolute;
	top: 400px;
	left: -600px; 
	z-index: 9;

}

.pink {
	position: absolute;
	top: 1000px;
	left: 600px;
	z-index: 9;
	opacity:0.4;
}

.yellow {
	position: absolute;
	top: 1150px;
	left: 650px;
	z-index: 9;
	
}

.flower1 {
	position: absolute;
	top: 0px;
	left: 750px;
	z-index: 9;
	opacity:0.3;
}

.flower2 {
	position: absolute;
	top: 900px;
	left: -640px; 
	z-index: 9;
}

.flower3 {
	position: absolute;
	top: 1800px;
	left: 970px;
	z-index: 9;
}

.flower4 {
	position: absolute;
	top: 200px;
	left: 550px;
	z-index: 9;
}


/*----------STAFF---------------------------------*/

/* 共通 */
.box 
{  margin: 80px auto;
   width: 80%;
}

h1 {
  text-align: center;
  font-family: 'DM Serif Text', serif;
  margin: 30px 0 40px 0;
}

h2 {
	border-bottom: 5px solid #EC8C32;
	border-radius: 5px;
}

#staff img {
  border: 5px solid #8fa7b4;
  border-radius: 50%;
  background-color: #ffffff;
}



/* 写真：左　文章：右 */

#staff .left {
  float: left;
}

#staff .introduce1 {
   float: right; 
   width: 400px;
   padding-left: 40px;
}

.pumpkin:hover {
	border: 5px solid #282828;
	border-radius: 50%; 
}

/* 写真：右　文章：左 */

#staff .right {
  float: right;
}

#staff .introduce2 {
  float: left;
  width: 400px; 
} 



/*-----------ここからfooter-----------------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #8fa7b4;
  clear: both;
}

.footer-nav {
  float: right;
  height: 50px;

}

footer li {
  float :left;
  margin: 0 10px;
  font-size: 14px;
  list-style-type: none;
  padding: 10px 10px;
   color: #ffffff;
}

footer a {
  text-decoration: none;
   color: #ffffff;
}

footer p {
	color: #282828;
	display: inline-block;
	padding-top: 15px;
	padding-left: 100px;
	color: #ffffff;
}

/*-----------ここまでfooter-------------------------*/


